#chatList {
    position: absolute;
    float: left;
    overflow: auto;
    width: 15em;
    height: 80%;
}

.chatIcon {
    position: relative;
    left: 1em;
    width: 20%;
    display: inline-block;
}

.chatName {
    position: relative;
    bottom: 1.2em;
    left: 1.5em;
    display: inline-block;
}

.delIcon {
    cursor: pointer;
    color: red;
    display: inline-block;
    position: relative;
    bottom: 1.2em;
}

#chatEntries {
    overflow: auto;
    position: relative;
    width: 102%;
    height: calc(100vh - 15em);
}

.chatEntry {
    margin-bottom: 1em;
}

.chatEntry.marked {
    border-radius: 5px;
    background-color: lime;
}

.right {
    position: absolute;
    top: 0;
    margin-left: 15em;
    min-width: calc(100vw - 18em);
}

.entry {
    display: block;
    width: calc(100vw - 20em);
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
}

.entry.bot {
    background-color: #bbbbbb;
}

.entry.self {
    background-color: #ddd;
    border-color: #ccc;
}

.entry .author {
    display: inline-block;
    font-weight: bold;
}

.entry.bot .author {
    display: none;
}

.entry .ctime {
    margin-left: 1em;
    display: inline-block;
    font-size: x-small;
}

.entry.bot .ctime {
    margin-left: 0;
}

.entry.bot .content {
    font-size: small;
    line-height: 1em;
}

.entry .url {
    margin-top: 1em;
    display: block;
}

#postField {
    margin-top: 0.5em;
    width: calc(100% - 8em);
}

input[type=file] {
    display: inline-block;
    margin-top: 0.5em;
}

#sendButton {
    height: 2.75em;
}

/**.admin {
    display: flex;
    width: calc(100% - 5em);
}

.admin button {
    width: 100%;
    height: 2.75em;
}**/

#chatName {
    display: inline-block;
    cursor: pointer;
    width: calc(100% - 8em);
    line-height: 2.5em;
    text-align: center;
}

#chatMembers {
    overflow: auto;
    z-index: 100;
    background-color: white;
    position: absolute;
    border: 1px solid black;
    border-radius: 10px;
    margin-left: 8em;
    width: calc(100% - 8em - 10em);
    height: calc(100vh - 15em);
    visibility: hidden;
}

.chat-member {
    display: inline-block;
    max-width: calc(100% - 1em);
    position: relative;
    left: 1em;
}

.chat-admin {
    color: red;
}

.mkAdmin {
    cursor: pointer;
    color: green;
    display: inline-block;
    position: relative;
    left: 0.5em;
}

.delAdmin {
    color: red;
}

.member-entry {
    position: relative;
    left: 2em;
    line-height: 2em;
    max-width: calc(100% - 2em);
}

.member-entry .delIcon {
    bottom: 0;
}

#addMember {
    cursor: pointer;
    max-width: calc(100% - 1em);
    position: relative;
    left: 1em;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}

#addChat {
    cursor: pointer;
}

#logout {
    font-size: large;
    color: blue;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    position: relative;
    left: 3em;
}

/**#chatList {
    overflow: auto;
    width: 5em;
    height: 100%;
    display: inline-block;
}

.chatIcon {
    width: 100%;
    height: 100%;
}

#chatEntries {
}**/